.sun-editor-editable {
    font-size: 18px;
    font-family: arial;
    color: rgb(85, 90, 95);
    background-color:rgb(252, 252, 255)
}
body{
    background-color:rgb(252, 252, 255)
}

.bar-of-progress {
    z-index: 50;
}